.CommentList {
    max-height: 30rem;
    overflow: auto;
}

.nested.CommentList {
    padding-left: 1.5rem;
    overflow: visible;
    max-height: none;
}

.Comment h4 {
    margin: .5rem 0;
}

.comments {
    border: none;
    display: flex;
    align-items: center;
    background-color: lightgray;
    padding: .5rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.comments:hover {
    background-color: gray;
}

.comments-icon {
    margin-right: .5rem;
    height: 1rem;
}

.comments p {
    margin: 0;
}

.replies-button {
    border: none;
    background-color: lightgray;
    padding: .5rem;
    border-radius: 1.5rem;
    cursor: pointer;
}