.SubredditsList {
    border-right: 1px gray solid;
    position: fixed;
    height: 100%;
    overflow: auto;
    padding: .5rem;
    z-index: 5;
}

.subreddit-button {
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.subreddit-button:hover {
    background-color: lightgray;
}

.subreddit-icon {
    height: 1.5rem;
    margin-right: .5rem;
}

@media only screen and (max-width: 850px) {
    .SubredditsList {
        position: relative;
        visibility: inherit;
    }
}