.search-div {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    border-bottom: 1px gray solid;
    padding: 1rem 0;
    background-color: white;
    z-index: 10;
    top: 0;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: lightgray;
    border-radius: 1.5rem;
    padding: .5rem;
    width: 40%;
}

.searchbar {
    font-size: 1.2rem;
    padding: .3rem;
    background-color: transparent;
    border: none;
    width: 100%;
}

.searchbar:focus {
    outline: none;
}

.search-button {
    font-size: 1.2rem;
    padding: .3rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.website-title {
    position: absolute;
    left: .5rem;
    display: flex;
    align-items: center;
}

.website-title h1 {
    margin-left: .5rem;
}

.reddit-icon {
    font-size: 2rem;
}

.menu-button {
    position: absolute;
    font-size: 2rem;
    left: 1rem;
    bottom: 1rem;
    background-color: transparent;
    border: none;
    visibility: hidden;
    cursor: pointer;
}

.blue {
    color: blue;
}

@media only screen and (max-width: 850px) {
    .search-div {
        flex-direction: column;
    }

    .website-title {
        position: relative;
        margin: .5rem;
    }

    .website-title h1 {
        margin: 0;
    }

    .search-container {
        width: 60%;
    }

    .menu-button {
        visibility: visible;
    }
}