.search-div {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom: 1px gray solid;
    padding: 1rem 0;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: lightgray;
    border-radius: 1.5rem;
    padding: .5rem;
}

.searchbar {
    font-size: 1.2rem;
    padding: .3rem;
    background-color: transparent;
    border: none;
    width: 30rem;
}

.searchbar:focus {
    outline: none;
}

.search-button {
    font-size: 1.2rem;
    padding: .3rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.website-title {
    position: absolute;
    left: .5rem;
    display: flex;
    align-items: center;
}

.website-title h1 {
    margin-left: .5rem;
}

.reddit-icon {
    font-size: 2rem;
}

.blue {
    color: blue;
}