.PostList {
    padding-left: 13rem;
}

.post {
    margin: 1.5rem;
    padding: .5rem;
    box-shadow: 2px 2px 5px gray;
}

.thumbnail {
    width: 100%;
    max-height: 15rem;
    object-fit: contain;
}

.reddit-video {
    width: 100%;
    max-height: 20rem;
    object-fit: contain;
}

.post-footer {
    display: flex;
    margin-bottom: 1rem;
}

.votes {
    display: flex;
    align-items: center;
    background-color: lightgray;
    padding: .5rem;
    border-radius: 1.5rem;
    margin: 0 .5rem;
}

.votes p {
    margin: 0;
}

.vote-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.up:hover {
    color: orangered;
}

.down:hover {
    color: blue;
}

.vote-icon {
    height: 1rem;
    --fa-style: 'solid';
}

.active.up .vote-icon {
    color: orangered;
}

.active.down .vote-icon {
    color: blue;
}